.tableContainer {
    max-height: 40vh;
    max-width: 70vw;
    margin: auto;
}
.tableCell {
    overflow: hidden;
    max-width: 100px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.notFound {
    text-align: center;
    margin-top: 1rem;
}