.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 70vw;
    margin: auto;
    margin-top: 1rem;
    & img {
        object-fit: cover;
        transition: transform 0.2s;
        &:hover {
            transform: scale(110%);
        }
    }
}
.cardContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cardLeftContent {
    width: 70%;
}
.notFound {
    text-align: center;
    margin-top: 1rem;
}